<html>
<head>
<title>Animal Detail</title>
<link rel=StyleSheet href=/static/style.css type=text/css>
</head>
<body>
<div class=header>
      <h1>AS Animal Tracking </h1>
        <div class=loginbar> 
          You are logged in as <strong>{{ user.username }}</strong> {% if user.get_profile.isteacher %} (Teacher) {% endif %}  <a class=logout href=/logout>logout</a> 
        </div>  
      </div>
<div class=content>
<h2>{{ animal }} </h2>
species: {{ animal.species }} </br>


{% for formcheck in formone.formchecks.all %}
    {{ formcheck.name }}:{{ formcheck.isdone }}
{% endfor %}</br>

past forms: </br>
{% if animal.formlist %}
    {% for form in animal.formlist.all %}
        <a href=/forms/{{ form.id }}>{{ form }}</a>  </br>
    {% endfor %}
 {% else %}
    no forms have been submitted yet 
{% endif %}
</br>
Caretakers </br>
{% if animal.caretakers %} 
    {% for student in animal.caretakers.all %}
        {{ student }} </br>
    {% endfor%}
{% endif %}
{% if user.get_profile.isteacher %}
    </br>
    Add caretakers to animal
    <form action=connectanimal method=post>
        {% csrf_token %}
        <select name=students multiple="multiple">
            {% for student in students %}
                <option value={{ student.id }} {% if student in animal.caretakers %} selected='selected' {% endif %}>{{ student }} </option>
            {% endfor %}
       </select>
       <input type=submit value=submit>
    </form>
{% endif %}
</br><a href=/animals>Go Back to List</a>
</br><a href=/index>Go Back to Index</a>
</div>
</body>
</html>
