<html>
<head>
<title> Index </title>
<link rel=StyleSheet href=/static/style.css type=text/css> 
</head>
<body>
<h1>Indexy stuff</h1>
{% if user.is_authenticated %}
<a href=/logout>logout</a> </br>
<a href=/animals>Animal List</a> | <a href=/forms>Form List</a>  </br>
{% if user.get_profile.isteacher %}
</br>
<a href=/students>Student List</a> | <a href=/newanimal>New Animal</a> </br>
{% endif %}
{% else %}
<p>You aren't logged in.</p>

<form name=login action=/login method=post>
{% csrf_token %}
<input type=text value=username name=username>
<input type=password value=password name=password> 
<input type=submit value=submit></br>
</form>
or <a href=/newuser>Create an account</a></br>
{% endif %}
{% if error %}
{{ error }}
{% endif %}
</body>
</html>

