<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<title>New User</title>
<link ref=StyleSheet href="/static/style.css" type=text/css>
</head>
<body>
<h2>Creating a new User account</h2>
<form name='NewUser' action='/createuser' method='post'>
{% csrf_token %}
Username: 
<input type=text name='username' value='username'></br>Email: <input type=text value='email' name='email'></br>
Password:<input type=password name='password' value='password'> </br>
</br> <input type=submit value='Submit'></br></br>
<p>You will be redirected back to the index, where you will have to then log-in.</p> 
</br> Or: <a href='/index'>Go Home</a>
</div>
</body>
</html>
