<html>
<head>
<title> student list </title>
<link rel=StyleSheet href=/static/style.css type=text/css>
</head>
<body>
<div class=header>
      <h1>AS Animal Tracking </h1>
        <div class=loginbar>
          You are logged in as <strong>{{ user.username }}</strong> {% if user.get_profile.isteacher %} (Teacher) {% endif %}  <a class=logout href=/logout>logout</a>
        </div>
      </div>
<div class=content>
Student List </br>
{% if studentlist %}
{% for student in studentlist %}
<a href=/students/{{ student.id }}>{{ student }}</a> </br>
{% endfor %}
{% else %}
No students listed </br>
{% endif %}
<a href=/index>Go Home</a>
</div>
</body>
</html>

